.container{
    display: flex;
    justify-content: space-evenly;
    background-image: url('./bg02.jpg');
    /* background-position: top; */
    background-size: cover;
    background-attachment: fixed;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    justify-content: space-around;
    padding: 10px 0;
}
.cart-container{
    width: 20%;
    height: 100%;
    margin-top: 10px;
}
.cart{
    background-color:#f9f4efd3;
    color: #001858;
    line-height: 25px;
    padding:0 7px 10px 7px ;
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    border: 1px solid #001858;
}
.cart h3{
    text-align:center; 
    border-bottom: 2px solid#001858;
    margin-bottom: 2px;
    padding: 4px;
}