.soldier-details{
    color: #172c66;
    /* background-color:#8bd3dd; */
    background-color: #f9f4efd7;
    text-align: center;
    padding: 10px;
    box-shadow:1px 1px 5px gray;
    border-radius: 10px;
    border: 1px solid #001858;
}
.deatils-text{
    text-align: left;
    padding: 5px;
}
button{
    border: 1px solid #001858;
    margin-top: 15px;
    width: 140px;
    height: 25px;
    transition: .7s;
    border-radius: 5px;
    color: #fffffe;
    background-color: #272343;
    
}
button:hover{
    transform: scale(1.1);
    background-color: #8bd3dd;
    color: #272343;
}
/* .images{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
} */
.images img{
   margin-bottom:15px ;
   height: 100px;
   width: 100px;
   border-radius: 50%;
   transition: .5s;
   box-shadow:3px 3px 1px gray;
}
img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px gray;
}