
.header-title{
    width: 100%;
    line-height: 40px;
    text-align: center;;
    background-color:#272343 ;
    color:white;
    padding: 10px 0;
    box-shadow: 2px 2px 6px gray;
}
.force-name{
    color: #ff8906;
    text-shadow: 1px -2px white;
    transition: .7s;
}
.force-name:hover{
    color: #f25042;
    text-shadow:-1px 1px white;
}
.header-title h1{
    font-size: 35px;
    text-shadow: 2px -1px #8c7851;
    transition: .5s;
}
.header-title h1:hover{
    text-shadow: 2px 2px teal;
}
.header-title h2{
    text-shadow: -1px -1px #026666;
}